<section class="collection">
    <div class="container">
        <h2 class="collection-title">Top Collection</h2>
        <div class="table-body-adaptivy">
            <table class="collection-user">
                <thead class="table-header">
                    <tr class="table-header__columns-names">
                        <td class="table-header__column-name">
                            <div class="">Collection</div>
                        </td>
                        <td class="table-header__column-name">
                            <div class="">Volume</div>
                        </td>
                        <td class="table-header__column-name">
                            <div class="head_hour">24h %</div>
                        </td>
                        <td class="table-header__column-name">
                            <div class="head_floor_price">Floor Price</div>
                        </td>
                        <td class="table-header__column-name">
                            <div class="head_owners">Owners</div>
                        </td>
                        <td class="table-header__column-name">
                            <div class="head_items">Items</div>
                        </td>
                    </tr>
                </thead>
                    <tbody class="table-body">
                        <tr class="table-body__columns-datas">
                            <td class="table-body__data">
                                <div class="table-body__content">
                                    <div class="icon-collection"><img src="assets/img/Rectangle 275.png"></div>
                                    <div class="table-body__collection">
                                        <div class="table-body__title">
                                            Alex Ca.
                                        </div>
                                    
                                        <div class="table-body__title-bid">
                                            Juliya S.
                                        </div>
                                    </div>
                                </div>

                            </td>
                            <td class="table-body__data">
                                <div class="swiper-icon-data volume"><i class="icon icon-xl icon-phone icon-ethereum"></i>8,456<div class="table-body__data plus mobile">+ 27.78%</div></div>
                            </td>
                            <td class="table-body__data plus">
                                <div class="hours">+ 27.78%</div>
                            </td>
                            <td class="table-body__data ">
                                <div class="floor_price">
                                    <div class="swiper-icon-data"><i class="icon icon-xl icon-phone icon-ethereum"></i>3,5</div>
                                </div>
                            </td>
                            <td class="table-body__data owners">
                                <div class="owners">2,2K</div>
                            </td>
                            <td class="table-body__data items">
                                <div class="items">500</div>
                            </td>
                        </tr>
                    
                        <tr class="table-body__columns-datas">
                            <td class="table-body__data">
                                <div class="table-body__content">
                                    <div class="icon-collection"><img src="assets/img/Rectangle 275.png"></div>
                                    <div class="table-body__collection">
                                        <div class="table-body__title">
                                            Alex Ca.
                                        </div>
                                    
                                        <div class="table-body__title-bid">
                                            Juliya S.
                                        </div>
                                    </div>
                                </div>

                            </td>
                            <td class="table-body__data">
                                <div class="swiper-icon-data volume"><i class="icon icon-xl icon-phone icon-ethereum"></i>8,456<div class="table-body__data plus mobile">+ 27.78%</div></div>
                            </td>
                            <td class="table-body__data plus">
                                <div class="hours">+ 27.78%</div>
                            </td>
                            <td class="table-body__data ">
                                <div class="floor_price">
                                    <div class="swiper-icon-data"><i class="icon icon-xl icon-phone icon-ethereum"></i>3,5</div>
                                </div>
                            </td>
                            <td class="table-body__data owners">
                                <div class="owners">2,2K</div>
                            </td>
                            <td class="table-body__data items">
                                <div class="items">500</div>
                            </td>
                        </tr>
                        <tr class="table-body__columns-datas">
                            <td class="table-body__data">
                                <div class="table-body__content">
                                    <div class="icon-collection"><img src="assets/img/Rectangle 275.png"></div>
                                    <div class="table-body__collection">
                                        <div class="table-body__title">
                                            Alex Ca.
                                        </div>
                                    
                                        <div class="table-body__title-bid">
                                            Juliya S.
                                        </div>
                                    </div>
                                </div>

                            </td>
                            <td class="table-body__data">
                                <div class="swiper-icon-data volume"><i class="icon icon-xl icon-phone icon-ethereum"></i>8,456<div class="table-body__data plus mobile">+ 27.78%</div></div>
                            </td>
                            <td class="table-body__data plus">
                                <div class="hours">+ 27.78%</div>
                            </td>
                            <td class="table-body__data ">
                                <div class="floor_price">
                                    <div class="swiper-icon-data"><i class="icon icon-xl icon-phone icon-ethereum"></i>3,5</div>
                                </div>
                            </td>
                            <td class="table-body__data owners">
                                <div class="owners">2,2K</div>
                            </td>
                            <td class="table-body__data items">
                                <div class="items">500</div>
                            </td>
                        </tr>
                        <tr class="table-body__columns-datas">
                            <td class="table-body__data">
                                <div class="table-body__content">
                                    <div class="icon-collection"><img src="assets/img/Rectangle 275.png"></div>
                                    <div class="table-body__collection">
                                        <div class="table-body__title">
                                            Alex Ca.
                                        </div>
                                    
                                        <div class="table-body__title-bid">
                                            Juliya S.
                                        </div>
                                    </div>
                                </div>

                            </td>
                            <td class="table-body__data">
                                <div class="swiper-icon-data volume"><i class="icon icon-xl icon-phone icon-ethereum"></i>8,456<div class="table-body__data plus mobile">+ 27.78%</div></div>
                            </td>
                            <td class="table-body__data plus">
                                <div class="hours">+ 27.78%</div>
                            </td>
                            <td class="table-body__data ">
                                <div class="floor_price">
                                    <div class="swiper-icon-data"><i class="icon icon-xl icon-phone icon-ethereum"></i>3,5</div>
                                </div>
                            </td>
                            <td class="table-body__data owners">
                                <div class="owners">2,2K</div>
                            </td>
                            <td class="table-body__data items">
                                <div class="items">500</div>
                            </td>
                        </tr>
                        <tr class="table-body__columns-datas">
                            <td class="table-body__data">
                                <div class="table-body__content">
                                    <div class="icon-collection"><img src="assets/img/Rectangle 275.png"></div>
                                    <div class="table-body__collection">
                                        <div class="table-body__title">
                                            Alex Ca.
                                        </div>
                                    
                                        <div class="table-body__title-bid">
                                            Juliya S.
                                        </div>
                                    </div>
                                </div>

                            </td>
                            <td class="table-body__data">
                                <div class="swiper-icon-data volume"><i class="icon icon-xl icon-phone icon-ethereum"></i>8,456<div class="table-body__data plus mobile">+ 27.78%</div></div>
                            </td>
                            <td class="table-body__data plus">
                                <div class="hours">+ 27.78%</div>
                            </td>
                            <td class="table-body__data ">
                                <div class="floor_price">
                                    <div class="swiper-icon-data"><i class="icon icon-xl icon-phone icon-ethereum"></i>3,5</div>
                                </div>
                            </td>
                            <td class="table-body__data owners">
                                <div class="owners">2,2K</div>
                            </td>
                            <td class="table-body__data items">
                                <div class="items">500</div>
                            </td>
                        </tr>
                    
                        <tr class="table-body__columns-datas">
                            <td class="table-body__data">
                                <div class="table-body__content">
                                    <div class="icon-collection"><img src="assets/img/Rectangle 275.png"></div>
                                    <div class="table-body__collection">
                                        <div class="table-body__title">
                                            Alex Ca.
                                        </div>
                                    
                                        <div class="table-body__title-bid">
                                            Juliya S.
                                        </div>
                                    </div>
                                </div>

                            </td>
                            <td class="table-body__data">
                                <div class="swiper-icon-data volume"><i class="icon icon-xl icon-phone icon-ethereum"></i>8,456<div class="table-body__data plus mobile">+ 27.78%</div></div>
                            </td>
                            <td class="table-body__data plus">
                                <div class="hours">+ 27.78%</div>
                            </td>
                            <td class="table-body__data ">
                                <div class="floor_price">
                                    <div class="swiper-icon-data"><i class="icon icon-xl icon-phone icon-ethereum"></i>3,5</div>
                                </div>
                            </td>
                            <td class="table-body__data owners">
                                <div class="owners">2,2K</div>
                            </td>
                            <td class="table-body__data items">
                                <div class="items">500</div>
                            </td>
                        </tr>
                        <tr class="table-body__columns-datas">
                            <td class="table-body__data">
                                <div class="table-body__content">
                                    <div class="icon-collection"><img src="assets/img/Rectangle 275.png"></div>
                                    <div class="table-body__collection">
                                        <div class="table-body__title">
                                            Alex Ca.
                                        </div>
                                    
                                        <div class="table-body__title-bid">
                                            Juliya S.
                                        </div>
                                    </div>
                                </div>

                            </td>
                            <td class="table-body__data">
                                <div class="swiper-icon-data volume"><i class="icon icon-xl icon-phone icon-ethereum"></i>8,456<div class="table-body__data plus mobile">+ 27.78%</div></div>
                            </td>
                            <td class="table-body__data plus">
                                <div class="hours">+ 27.78%</div>
                            </td>
                            <td class="table-body__data ">
                                <div class="floor_price">
                                    <div class="swiper-icon-data"><i class="icon icon-xl icon-phone icon-ethereum"></i>3,5</div>
                                </div>
                            </td>
                            <td class="table-body__data owners">
                                <div class="owners">2,2K</div>
                            </td>
                            <td class="table-body__data items">
                                <div class="items">500</div>
                            </td>
                        </tr>
                        <tr class="table-body__columns-datas">
                            <td class="table-body__data">
                                <div class="table-body__content">
                                    <div class="icon-collection"><img src="assets/img/Rectangle 275.png"></div>
                                    <div class="table-body__collection">
                                        <div class="table-body__title">
                                            Alex Ca.
                                        </div>
                                    
                                        <div class="table-body__title-bid">
                                            Juliya S.
                                        </div>
                                    </div>
                                </div>

                            </td>
                            <td class="table-body__data">
                                <div class="swiper-icon-data volume"><i class="icon icon-xl icon-phone icon-ethereum"></i>8,456<div class="table-body__data plus mobile">+ 27.78%</div></div>
                            </td>
                            <td class="table-body__data plus">
                                <div class="hours">+ 27.78%</div>
                            </td>
                            <td class="table-body__data ">
                                <div class="floor_price">
                                    <div class="swiper-icon-data"><i class="icon icon-xl icon-phone icon-ethereum"></i>3,5</div>
                                </div>
                            </td>
                            <td class="table-body__data owners">
                                <div class="owners">2,2K</div>
                            </td>
                            <td class="table-body__data items">
                                <div class="items">500</div>
                            </td>
                        </tr>
                    </tbody>
            </table>
        </div>
        <div class="expant-btn">
            <button class="expant" data-target=".table-body-adaptivy">
                Explore All
            </button>
            <svg class="icon-arrow-forward" width="18px" height="18px" fill="#ACADB9">
                <use href="#arrow-forward"></use>
            </svg>
        </div>
    </div>
</section>