<section class="banner">
    <div class="container">
        <div class="banner-content">
            <span class="line"></span>
            <div class="content-text">
                <small class="line-creators">OVER 1M CREATORS</small>
                <div class="content-text__paragraph1">Discover And Create NFTs</div>
                <div class="content-text__paragraph2">Discover, Create and Sell NFTs On Our NFT Marketplace With Over Thousands Of NFTs And Get a <strong>$20 bonus.</strong></div>
            </div>
            <div class="banner-buttons">
                <a href="#" class="btn btn-primary">Explore More</a>
                <button class="btn btn-secondary" type="button">create NFT</button>
            </div>
            <div class="banner-rating">
                <div class="banner-advantages">
                    <div class="banner-advantage">
                        <h3>430K+</h3>
                        <small>Art Works</small>
                    </div>
                    <div class="banner-advantage">
                        <h3>159K+</h3>
                        <small>Creators</small>
                    </div>
                    <div class="banner-advantage">
                        <h3>87K+</h3>
                        <small>Collections</small>
                    </div>
                </div>
            </div>
            <div class="banner-rating-mobile">
                <div class="logotype">
                    <svg class="logotype-trustpilot">
                        <use href="#trustpilot"></use>
                    </svg>
                </div>
                <div class="rating">
                    <div class="rating-star">
                        <svg class="stars checked">
                            <use href="#star"></use>
                        </svg>
                    </div>
                    <div class="rating-star">
                        <svg class="stars checked">
                            <use href="#star"></use>
                        </svg>
                    </div>
                    <div class="rating-star">
                        <svg class="stars checked">
                            <use href="#star"></use>
                        </svg>
                    </div>
                    <div class="rating-star">
                        <svg class="stars checked">
                            <use href="#star"></use>
                        </svg>
                    </div>
                    <div class="rating-star">
                        <svg class="stars checked">
                            <use href="#star"></use>
                        </svg>
                    </div>
                    <div class="rating-users">4900</div>
                </div>
            </div>
        </div> 
        <div class="banner-slider-container">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="assets/img/photo1.png" alt="banner1"><img src="assets/img/photo1.png" alt="banner1"></div>
                    <div class="swiper-slide"><img src="assets/img/Rectangle 3.png" alt="banner2"><img src="assets/img/Rectangle 3.png" alt="banner2"></div>
                    <div class="swiper-slide"><img src="assets/img/Rectangle 275.png" alt="banner3"><img src="assets/img/Rectangle 275.png" alt="banner3"></div>
                </div>
            </div>
            <div class="banner-slider-navigation">
                <div class="swiper-button-prev">
                    <svg class="icon-svg">
                        <use href="#arrow"></use>
                    </svg>
                </div>
                <div class="swiper-button-next">
                    <svg class="icon-svg">
                        <use href="#arrow"></use>
                    </svg>
                </div>
            </div>
        </div> 
    </div>
</section>
