<header>
    <div class="container">
        <div class="header-menu">
            <a href="index.html">
                <picture>
                    <source media="(min-width:1024px)" srcset="assets/img/icon-menu.svg">
                    <img src="assets/img/logo-mobile.svg" alt="logo">
                </picture>
            </a>
            <div class="container-mobile">
                <div class="header-nav">
                    <ul class="nav-list">
                        <li class="nav-item"><a href="#">Discover</a></li>
                        <li class="nav-item"><a href="#">creators</a></li>
                        <li class="nav-item"><a href="#">Sell</a></li>
                        <li class="nav-item"><a href="#">stats</a></li>
                    </ul>
                </div>
                <form class="header-search">
                    <input type="search" placeholder="Search Art Work / Creator">
                </form>
                <button class="btn btn-black" type="button">Connect Wallet</button>
            </div>
            <button class="btn btn-menu" type="button">
                <span></span>
            </button>
        </div>
    </div>
</header>

