<section class="marketplace">
    <div class="container">
        <h2 class="marketplace-title">Explore Marketplace</h2>
        <div class="buttons-marketplace">
            <button class="btn-marketplace">All</button>
            <button class="btn-marketplace">
                <div class="icon-btn-marketplace">
                    <svg class="icon-svg-marketplace">
                        <use href="#i-category"></use>
                    </svg>
                </div>Category
            </button>
            <button class="btn-marketplace">
                <div class="icon-btn-marketplace">
                    <svg class="icon-svg-marketplace">
                        <use href="#i-collection"></use>
                    </svg>
                </div>Collection
            </button>
            <button class="btn-marketplace">
                <div class="icon-btn-marketplace">
                    <svg class="icon-svg-marketplace">
                        <use href="#i-dollar"></use>
                    </svg>
                </div>Price
            </button>
        </div>
        <div class="cards">
            <div class="card">
                <div class="card-img"><img src="assets/img/Rectangle 3.png"></div>
                <div class="card-title">Sun-Glass</div>
                <div class="card-title-bid">Current bid</div>
                <div class="card-icon-bid">
                    <i class="icon icon-sm icon-phone icon-ethereum"></i>1.25
                </div>
                <a href="#" class="btn btn-bid btn-small">PLACE BID</a>
            </div>
            <div class="card">
                <div class="card-img"><img src="assets/img/Rectangle 3.png"></div>
                <div class="card-title">Sun-Glass</div>
                <div class="card-title-bid">Current bid</div>
                <div class="card-icon-bid">
                    <i class="icon icon-sm icon-phone icon-ethereum"></i>1.25
                </div>
                <a href="#" class="btn btn-bid btn-small">PLACE BID</a>
            </div>
            <div class="card">
                <div class="card-img"><img src="assets/img/Rectangle 3.png"></div>
                <div class="card-title">Sun-Glass</div>
                <div class="card-title-bid">Current bid</div>
                <div class="card-icon-bid">
                    <i class="icon icon-sm icon-phone icon-ethereum"></i>1.25
                </div>
                <a href="#" class="btn btn-bid btn-small">PLACE BID</a>
            </div>
            <div class="card">
                <div class="card-img"><img src="assets/img/Rectangle 3.png"></div>
                <div class="card-title">Sun-Glass</div>
                <div class="card-title-bid">Current bid</div>
                <div class="card-icon-bid">
                    <i class="icon icon-sm icon-phone icon-ethereum"></i>1.25
                </div>
                <a href="#" class="btn btn-bid btn-small">PLACE BID</a>
            </div>
            <div class="card">
                <div class="card-img"><img src="assets/img/Rectangle 3.png"></div>
                <div class="card-title">Sun-Glass</div>
                <div class="card-title-bid">Current bid</div>
                <div class="card-icon-bid">
                    <i class="icon icon-sm icon-phone icon-ethereum"></i>1.25
                </div>
                <a href="#" class="btn btn-bid btn-small">PLACE BID</a>
            </div>
            <div class="card">
                <div class="card-img"><img src="assets/img/Rectangle 3.png"></div>
                <div class="card-title">Sun-Glass</div>
                <div class="card-title-bid">Current bid</div>
                <div class="card-icon-bid">
                    <i class="icon icon-sm icon-phone icon-ethereum"></i>1.25
                </div>
                <a href="#" class="btn btn-bid btn-small">PLACE BID</a>
            </div>
            <div class="card">
                <div class="card-img"><img src="assets/img/Rectangle 3.png"></div>
                <div class="card-title">Sun-Glass</div>
                <div class="card-title-bid">Current bid</div>
                <div class="card-icon-bid">
                    <i class="icon icon-sm icon-phone icon-ethereum"></i>1.25
                </div>
                <a href="#" class="btn btn-bid btn-small">PLACE BID</a>
            </div>
            <div class="card">
                <div class="card-img"><img src="assets/img/Rectangle 3.png"></div>
                <div class="card-title">Sun-Glass</div>
                <div class="card-title-bid">Current bid</div>
                <div class="card-icon-bid">
                    <i class="icon icon-sm icon-phone icon-ethereum"></i>1.25
                </div>
                <a href="#" class="btn btn-bid btn-small">PLACE BID</a>
            </div>
        </div>
        <div class="expant-btn">
            <button class="expant" id ="expbtn-marketplace">
                Explore All
            </button>
            <svg class="icon-arrow-forward" width="18px" height="18px" fill="#ACADB9">
                <use href="#arrow-forward"></use>
            </svg>
        </div>
        <span></span>
    </div>
</section>