<section class="unleash">
    <div class="container">
        <h2 class="title-unleash">Just Unleash -</h2>
        <h2 class="title-unleash">Your Inner Collector</h2>
        <ul class="description">
            <li class="description__info"><i class="icon check"></i>Best Seller All Around World</li>
            <li class="description__info"><i class="icon check"></i>$2M+ Transections Every Day</li>
            <li class="description__info"><i class="icon check"></i>Secure Transactions</li>
            <li class="description__info"><i class="icon check"></i>Exclusive Collections From Sellers</li>
            <li class="description__info"><i class="icon check"></i>Easy Buying and Selling</li>
            <li class="description__info"><i class="icon check"></i>Join Our Community</li>
        </ul>
        <button class="explore-btn">
            <div class="explore-title">Explore More</div>
            <svg class="icon-arrow-forward" width="18px" height="18px" fill="#ACADB9">
                <use href="#arrow-forward"></use>
            </svg>
        </button>

        
        <div class="notification">
              <div class="icons">
                  <img class="point" src="assets/img/point.svg" alt="">
                  <img class="icon-notification" src="assets/img/Rectangle 275.png" alt="">
              </div>
              <div class="title-bid-information">
                  <div class="title-bid-information__name-bid"><span>New bid</span> Rotation</div>
                  <div class="title-bid-information__price-bid">0.002 ETH</div>
                  <div class="title-bid-information__data">6 Oct 2022, 11:44 PM</div>
              </div>
              <img class="photo-icon-notification" src="assets/img/Rectangle 275.png" alt="">
        </div>
          <div class="sellers">
              <h3 class="sellers__title">Best Sellers</h3>
              <ul class="sellers__column">
                  <li class="sellers__line">
                      <div class="sellers__icon">
                          <img src="assets/img/Rectangle 275.png" alt="">
                      </div>
                      <div class="sellers__title-account">
                          <div class="sellers__title-name">Alex Ca.</div>
                          <div class="sellers__title-email">@Alexy</div>
                      </div>
                      <button class="btn-follow">Follow</button>
                  </li>
                <li class="sellers__line">
                    <div class="sellers__icon">
                        <img src="assets/img/Rectangle 275.png" alt="">
                    </div>
                    <div class="sellers__title-account">
                        <div class="sellers__title-name">Alex Ca.</div>
                        <div class="sellers__title-email">@Alexy</div>
                    </div>
                    <button class="btn-follow">Follow</button>
                </li>
                <li class="sellers__line">
                    <div class="sellers__icon">
                        <img src="assets/img/Rectangle 275.png" alt="">
                    </div>
                    <div class="sellers__title-account">
                        <div class="sellers__title-name">Alex Ca.</div>
                        <div class="sellers__title-email">@Alexy</div>
                    </div>
                    <button class="btn-follow">Follow</button>
                </li>
                <li class="sellers__line">
                    <div class="sellers__icon">
                        <img src="assets/img/Rectangle 275.png" alt="">
                    </div>
                    <div class="sellers__title-account">
                        <div class="sellers__title-name">Alex Ca.</div>
                        <div class="sellers__title-email">@Alexy</div>
                    </div>
                    <button class="btn-follow">Follow</button>
                </li>
                <li class="sellers__line">
                    <div class="sellers__icon">
                        <img src="assets/img/Rectangle 275.png" alt="">
                    </div>
                    <div class="sellers__title-account">
                        <div class="sellers__title-name">Alex Ca.</div>
                        <div class="sellers__title-email">@Alexy</div>
                    </div>
                    <button class="btn-follow">Follow</button>
                </li>
                <li class="sellers__line">
                    <div class="sellers__icon">
                        <img src="assets/img/Rectangle 275.png" alt="">
                    </div>
                    <div class="sellers__title-account">
                        <div class="sellers__title-name">Alex Ca.</div>
                        <div class="sellers__title-email">@Alexy</div>
                    </div>
                    <button class="btn-follow">Follow</button>
                </li>
            </ul>
          </div>
          <div class="wiget-list">
            <h2 class="wiget-list__viewed">Recent Viewed</h2>
            <nav class="layout-menu" data-custom-wiget="menu">
                <button class="layout-menu__button" data-custom-wiget="list">
                    <span></span>
                </button>
                <ul class="layout-case">
                    <li class="icon-layout active" data-layout="list">
                        <svg class="icon-layout-case">
                            <use href="#layout-case__list"></use>
                        </svg>
                    </li>
                    <li class="icon-layout" data-layout="grid">
                        <svg class="icon-layout-case">
                            <use href="#layout-case__grid"></use>
                        </svg>
                    </li>
                </ul>
            </nav>
            <ul class="wiget-users-list">
                <li class="wiget-users-list__item">
                        <div class="wiget-users-list__avatar">
                            <img src="assets/img/Rectangle 275.png" alt="icon">
                        </div>

                        <div class="wiget-users-list__volume">
                            <div class="wiget-list__swiper-title">
                                Alex Ca.
                            </div>

                            <div class="wiget-list__swiper-title-bid">
                                Juliya S.
                            </div>
                        </div>

                        <div class="wiget-users-list__data">
                            <div class="wiget-list__price"><i class="icon icon-xs icon-phone icon-ethereum"></i>8,456</div>
                            <div class="wiget-list__swiper-title-procent plus">+23,00%</div>
                        </div>
                </li>
                <li class="wiget-users-list__item">
                        <div class="wiget-users-list__avatar">
                            <img src="assets/img/photo1.png" alt="icon">
                        </div>

                        <div class="wiget-users-list__volume">
                            <div class="wiget-list__swiper-title">
                                Alex Ca.
                            </div>

                            <div class="wiget-list__swiper-title-bid">
                                Juliya S.
                            </div>
                        </div>

                        <div class="wiget-users-list__data">
                            <div class="wiget-list__price"><i class="icon icon-xs icon-phone icon-ethereum"></i>8,456</div>
                            <div class="wiget-list__swiper-title-procent minus">-33,00%</div>
                        </div>
                </li>
                <li class="wiget-users-list__item">
                        <div class="wiget-users-list__avatar">
                            <img src="assets/img/Rectangle 3.png" alt="icon">
                        </div>

                        <div class="wiget-users-list__volume">
                            <div class="wiget-list__swiper-title">
                                Alex Ca.
                            </div>

                            <div class="wiget-list__swiper-title-bid">
                                Juliya S.
                            </div>
                        </div>

                        <div class="wiget-users-list__data">
                            <div class="wiget-list__price"><i class="icon icon-xs icon-phone icon-ethereum"></i>8,456</div>
                            <div class="wiget-list__swiper-title-procent plus">+23,00%</div>
                        </div>
                </li>
                <li class="wiget-users-list__item">
                    <div class="wiget-users-list__avatar">
                        <img src="assets/img/Rectangle 275.png" alt="icon">
                    </div>

                    <div class="wiget-users-list__volume">
                        <div class="wiget-list__swiper-title">
                            Alex Ca.
                        </div>

                        <div class="wiget-list__swiper-title-bid">
                            Juliya S.
                        </div>
                    </div>

                    <div class="wiget-users-list__data">
                        <div class="wiget-list__price"><i class="icon icon-xs icon-phone icon-ethereum"></i>8,456</div>
                        <div class="wiget-list__swiper-title-procent minus">-12,33%</div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="banner-create">
            <h2 class="banner-create__title">Create and Sell NFTs</h2>
            <h3 class="banner-create__title-bid">World’s Largest NFT Place</h3>
            <div class="banner-create__btns">
                <button class="banner-create__explore">Explore More</button>
                <button class="banner-create__sell">Sell Artwork</button>
            </div>
            <img src="../assets/img/Rect 3.png" alt="">
            <img src="../assets/img/Rect 3.png" alt="">
        </div>
    </div>
</section>