<section class="weekly">
    <div class="container">
        <h2 class="paragraph">Weekly - Top NFT</h2>
            <div class="swiper-weekly">
                <div class="swiper-wrapper-weekly">
                    <div class="swiper-slide-weekly">
                        <div class="swiper-content">
                            <div class="swiper-photo">
                                <img src="assets/img/photo1.png" alt="banner1">
                            </div>

                            <div class="swiper-title">
                                Sun-Glass
                            </div>

                            <div class="swiper-title-bid">
                                Current bid
                            </div>

                            <div class="swiper-icon-bid">
                                <i class="icon icon-sm icon-phone icon-ethereum"></i>1.25
                            </div>

                            <a href="#" class="btn btn-bid btn-small">PLACE BID</a>
                        </div>
                    </div>

                    <div class="swiper-slide-weekly">
                        <div class="swiper-content">
                            <div class="swiper-photo">
                                <img src="assets/img/Rectangle 3.png" alt="banner2">
                            </div>

                            <div class="swiper-title">
                                Sun-Glass
                            </div>

                            <div class="swiper-title-bid">
                                Current bid
                            </div>

                            <div class="swiper-icon-bid">
                                <i class="icon icon-sm icon-phone icon-ethereum"></i>1.75
                            </div>

                            <a href="#" class="btn btn-bid btn-small">PLACE BID</a>
                        </div>
                    </div>

                    <div class="swiper-slide-weekly">
                        <div class="swiper-content">
                            <div class="swiper-photo">
                                <img src="assets/img/Rectangle 275.png" alt="banner3">
                            </div>

                            <div class="swiper-title">
                                Sun-Glass
                            </div>

                            <div class="swiper-title-bid">
                                Current bid
                            </div>

                            <div class="swiper-icon-bid">
                                <i class="icon icon-sm icon-phone icon-ethereum"></i>1.25
                            </div>

                            <a href="#" class="btn btn-bid btn-small">PLACE BID</a>
                        </div>    
                    </div>

                    <div class="swiper-slide-weekly">
                        <div class="swiper-content">
                            <div class="swiper-photo">
                                <img src="assets/img/photo1.png" alt="banner4">
                            </div>

                            <div class="swiper-title">
                                Sun-Glass
                            </div>

                            <div class="swiper-title-bid">
                                Current bid
                            </div>

                            <div class="swiper-icon-bid">
                                <i class="icon icon-sm icon-phone icon-ethereum"></i>1.25
                            </div>

                            <a href="#" class="btn btn-bid btn-small">PLACE BID</a>
                        </div>
                    </div>

                    <div class="swiper-slide-weekly">
                        <div class="swiper-content">
                            <div class="swiper-photo">
                                <img src="assets/img/Rectangle 3.png" alt="banner5">
                            </div>

                            <div class="swiper-title">
                                Sun-Glass
                            </div>

                            <div class="swiper-title-bid">
                                Current bid
                            </div>

                            <div class="swiper-icon-bid">
                                <i class="icon icon-sm icon-phone icon-ethereum"></i>1.25
                            </div>

                            <a href="#" class="btn btn-bid btn-small">PLACE BID</a>
                        </div>
                    </div>

                    <div class="swiper-slide-weekly">
                        <div class="swiper-content">
                            <div class="swiper-photo">
                                <img src="assets/img/Rectangle 275.png" alt="banner6">
                            </div>

                            <div class="swiper-title">
                                Sun-Glass
                            </div>

                            <div class="swiper-title-bid">
                                Current bid
                            </div>

                            <div class="swiper-icon-bid">
                                <i class="icon icon-sm icon-phone icon-ethereum"></i>1.25
                            </div>

                            <a href="#" class="btn btn-bid btn-small">PLACE BID</a>
                            
                        </div>
                    </div>

                    <div class="swiper-slide-weekly">
                        <div class="swiper-content">
                            <div class="swiper-photo">
                                <img src="assets/img/photo1.png" alt="banner7">
                            </div>

                            <div class="swiper-title">
                                Sun-Glass
                            </div>

                            <div class="swiper-title-bid">
                                Current bid
                            </div>

                            <div class="swiper-icon-bid">
                                <i class="icon icon-sm icon-phone icon-ethereum"></i>1.25
                            </div>

                            <a href="#" class="btn btn-bid btn-small">PLACE BID</a>
                        </div>
                    </div>

                    <div class="swiper-slide-weekly">
                        <div class="swiper-content">
                            <div class="swiper-photo">
                                <img src="assets/img/Rectangle 3.png" alt="banner8">
                            </div>

                            <div class="swiper-title">
                                Sun-Glass
                            </div>

                            <div class="swiper-title-bid">
                                Current bid
                            </div>

                            <div class="swiper-icon-bid">
                                <i class="icon icon-sm icon-phone icon-ethereum"></i>1.25
                            </div>

                            <a href="#" class="btn btn-bid btn-small">PLACE BID</a>
                        </div>
                    </div>

                    <div class="swiper-slide-weekly">
                        <div class="swiper-content">
                            <div class="swiper-photo">
                                <img src="assets/img/Rectangle 275.png" alt="banner9">
                            </div>

                            <div class="swiper-title">
                                Sun-Glass
                            </div>

                            <div class="swiper-title-bid">
                                Current bid
                            </div>

                            <div class="swiper-icon-bid">
                                <i class="icon icon-sm icon-phone icon-ethereum"></i>1.25
                            </div>

                            <a href="#" class="btn btn-bid btn-small">PLACE BID</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="weekly-slider-navigation">
                <div class="weekly-button-prev">
                    <svg class="icon-svg">
                        <use href="#arrow"></use>
                    </svg>
                </div>
                <div class="weekly-button-next">
                    <svg class="icon-svg">
                        <use href="#arrow"></use>
                    </svg>
                </div>
            </div>
            <div class="wiget-list">
                <h2 class="wiget-list__viewed">Recent Viewed</h2>
                <nav class="layout-menu" data-custom-wiget="menu">
                    <button class="layout-menu__button" data-custom-wiget="list">
                        <span></span>
                    </button>
                    <ul class="layout-case">
                        <li class="icon-layout active" data-layout="list">
                            <svg class="icon-layout-case">
                                <use href="#layout-case__list"></use>
                            </svg>
                        </li>
                        <li class="icon-layout" data-layout="grid">
                            <svg class="icon-layout-case">
                                <use href="#layout-case__grid"></use>
                            </svg>
                        </li>
                    </ul>
                </nav>
                <ul class="wiget-users-list">
                    <li class="wiget-users-list__item">
                            <div class="wiget-users-list__avatar">
                                <img src="assets/img/Rectangle 275.png" alt="icon">
                            </div>
    
                            <div class="wiget-users-list__volume">
                                <div class="wiget-list__swiper-title">
                                    Alex Ca.
                                </div>
    
                                <div class="wiget-list__swiper-title-bid">
                                    Juliya S.
                                </div>
                            </div>
    
                            <div class="wiget-users-list__data">
                                <div class="wiget-list__price"><i class="icon icon-xs icon-phone icon-ethereum"></i>8,456</div>
                                <div class="wiget-list__swiper-title-procent plus">+23,00%</div>
                            </div>
                    </li>
                    <li class="wiget-users-list__item">
                            <div class="wiget-users-list__avatar">
                                <img src="assets/img/photo1.png" alt="icon">
                            </div>
    
                            <div class="wiget-users-list__volume">
                                <div class="wiget-list__swiper-title">
                                    Alex Ca.
                                </div>
    
                                <div class="wiget-list__swiper-title-bid">
                                    Juliya S.
                                </div>
                            </div>
    
                            <div class="wiget-users-list__data">
                                <div class="wiget-list__price"><i class="icon icon-xs icon-phone icon-ethereum"></i>8,456</div>
                                <div class="wiget-list__swiper-title-procent minus">-33,00%</div>
                            </div>
                    </li>
                    <li class="wiget-users-list__item">
                            <div class="wiget-users-list__avatar">
                                <img src="assets/img/Rectangle 3.png" alt="icon">
                            </div>
    
                            <div class="wiget-users-list__volume">
                                <div class="wiget-list__swiper-title">
                                    Alex Ca.
                                </div>
    
                                <div class="wiget-list__swiper-title-bid">
                                    Juliya S.
                                </div>
                            </div>
    
                            <div class="wiget-users-list__data">
                                <div class="wiget-list__price"><i class="icon icon-xs icon-phone icon-ethereum"></i>8,456</div>
                                <div class="wiget-list__swiper-title-procent plus">+23,00%</div>
                            </div>
                    </li>
                    <li class="wiget-users-list__item">
                        <div class="wiget-users-list__avatar">
                            <img src="assets/img/Rectangle 275.png" alt="icon">
                        </div>

                        <div class="wiget-users-list__volume">
                            <div class="wiget-list__swiper-title">
                                Alex Ca.
                            </div>

                            <div class="wiget-list__swiper-title-bid">
                                Juliya S.
                            </div>
                        </div>

                        <div class="wiget-users-list__data">
                            <div class="wiget-list__price"><i class="icon icon-xs icon-phone icon-ethereum"></i>8,456</div>
                            <div class="wiget-list__swiper-title-procent minus">-12,33%</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
</section>
